body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
word-break: break-all;
}

body {
    background-image: url(./skyline.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    display: inline-block;
    width: 100%;

}

    header {
        width: 100%;
        display: inline-block;
    }

        .top-part {
            display: inline-block;
            width: 440px;
            margin-left: calc((100% - 440px) / 2);
            text-align: center;
            margin-top: 50px;
            padding-bottom: 25px;
        }

                img {
                    width: 30px;
                    margin-bottom: 25px;

                }

                header > .top-part > h1 {
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }

                header > .top-part > p {
                    color: lightgrey;
                    margin-bottom: 5px;    
                
                }

                    p {
                    word-break: normal;

                    }
                

                #timer {
                    margin-top: 30px;
                    margin-bottom: 40px;
                }

                #timer>* {
                    display: block;
                    list-style: none;
                    width: 70%;
                    margin-left: 15%;

                }

                    .timer-numbers {
                        display: inline-block;
                        color: white;
                        font-size: 40px;


                    }

                    .timer-words {
                        display: inline-block;
                        color: white;
                        text-transform: uppercase;
                        font-size: 10px;

                    }

                    li {
                        display: inline-block;
                        margin: 0 10px;
                    }

                    .timer-words > li {
                        margin-left: 25px;
                    }


                    #type-email>* {
                        width: 70%;
                        height: 30px;
                        border: none;
                        border-bottom: 1px solid white;
                        margin-bottom: 40px;
                        font-size: 10px;
                        background: none;

                        
                    }

                    #type-email > #email-placeholder::placeholder {
                        color: white;
                    }

                    .button {
                        text-transform: capitalize;
                        margin-bottom: 25px;
                        background-color: orangered;
                        padding: 8px;
                        padding-left: 25px;
                        padding-right: 25px;
                        font-size: 10px;
                        color: white;
                        text-decoration: none;
                        border-radius: 2px;
                    }

                    #icon {
                        display: inline-block;
                        margin-bottom: 0px;
                        height: 40px;
                        width: auto;
                    }


    main {
        background-color: white;
        display: inline-block;
        width: 100%;

    }

        .middle-part {
            display: inline-block;
            float: left;
            width: 700px;
            margin-left: calc((100% - 700px) / 2);
            text-align: center;
            padding-top: 50px;
            padding-bottom: 40px;
            position: relative;
         }

            .box-left {
                width: 47%;
                display: inline-block;
                float: left;
                text-align: left;
                line-height: 110%;

            }

                    .box-left > * {
                        padding-bottom: 10px;
                    }

                    h4 {
                        text-transform: uppercase;
                    }

                    h6 {
                        font-weight: normal;
                        font-size: 10px;
                        color: grey;
                    }

                    .box-left > p {
                        font-size: 10px;
                        color: grey;
                    }

                    #Matrox {
                        color: orangered;
                        text-decoration: none; 
                    }

                .value {
                    margin-top: 5px;
                    margin-bottom: 20px;
                    background-color: lightgrey;
                    height: 3px;
                }
                    .value > #part1 {
                        background-color: orangered;
                        width:90%;
                        height:3px;
                    }

                    .value > #part2 {
                        background-color: orangered;
                        width:85%;
                        height:3px;
                    }

                    .value > #part3 {
                        background-color: orangered;
                        width:85%;
                        height:3px;
                    }

                .percents {
                    color: grey;
                    font-size: 10px;
                    float: right;
                    margin-top: -20px;
                    margin-right: -20px;
                }

            .box-right {
                width: 40%;
                display: inline-block;
                float: right;
                text-align: left;
                line-height: 110%;

            }

                    .box-right > * {
                        padding-bottom: 10px;
                    }

                    .box-right > p {
                        font-size: 10px;
                        color: grey;
                        word-break: normal;
                    }

                    #trendy {
                        color: orangered;
                        text-decoration: none; 
                        word-break: normal;

                    }

                    input {
                        width: 48%;
                        box-sizing: border-box;
                        padding-bottom: 5px;
                        margin-bottom: 20px;
                        margin-top: 10px;
                        color: black;
                        border: none;
                        border-bottom: 1px solid lightgrey; 
                    }

                        #name {
                            float: left;
                            font-size: 10px;
                        }


                        #email {
                            float: right;
                            font-size: 10px;
                        }


                    textarea {
                      width: 100%;
                      height: 45px;
                      border: none;
                      border-bottom: 1px solid lightgrey;
                      resize: none;
                      font-size: 10px;
                      margin-bottom: 20px;
                    }



                    form > .button {
                        float: right;
                        margin-top: 10px;
                        padding: 5px;
                        padding-left: 15px;
                        padding-right: 15px;
                    }
        
        #btn {
            width: 40px;
            height: 40px;
            background-color: #007239;
            color: white;
            font-size: 20px;
            border-radius: 20px;
            position: absolute;
            bottom: 0px;
            right: 0px;
            margin-bottom: -20px;
            line-height: 45px;
            text-decoration: none;

            

            
        }
                

    footer {
        background-color: #ff9201;
        display: inline-block;
        width: 100%;
    }

        .bottom-part {
            display: inline-block;
            width: 600px;
            margin-left: calc((100% - 600px) / 2);
            text-align: center;
            padding-top: 20px;
            margin-bottom: 50px;

        }

            .social-media {
                padding-bottom: 20px;
            }

            .fa {
                padding-left: 10px;
                color: white;
                text-decoration: none;
                margin: 5px;
            }

            hr {
                border: none;
                border-bottom: 1px solid rgba(255, 255, 255, 0.4);

            }

            .title {
                display: inline-block;
                padding-top: 0px;
                width: 420px;

            }

                img {
                    display: inline-block;
                    margin-top: 20px;
                }
                
                .title > h1 {
                    color: white;
                    display: inline-block;
                    margin-top: 20px;

                }
            
            .bottom-text {
                display: inline-block;
                font-size: 10px;
                color: white;
                width: 420px;
                line-height: 20px;
            }

            .bottom-text > #matrox2, #matrox3 {
                word-break: normal;

            }
            .copyright, .rights, .design {
                display: inline-block;
                padding-left: 5px;
                padding-right: 5px;

            }

            .rights {
                border-left: 1px solid white;
                border-right: 1px solid white;
                padding: 0 8px;

            }

            .last-paragraph {
                margin-bottom: 10px;
            }

            .bottom-text > .links {
                text-decoration: none;
                color: white;
            }
            
            .links {
                text-decoration: none;
                color: white;
                font-weight: bold;
            }

                
            @media (max-width: 1200px) {

                .middle-part {
                    width: 800px;
                    margin-left: calc((100% - 800px) / 2);
                }
                
            }
    
            @media (max-width: 960px) {
    
                .middle-part {
                    width: 400px;
                    margin-left: calc((100% - 400px) / 2);
                        
                }
                
                .box-left {
                    width: 100%;
                    margin-bottom: 60px;   
                }
    
                .box-right {
                    width: 100%;  
                }
            } 
            
            @media (max-width: 768px) {
                .top-part,
                .middle-part,
                .bottom-part {
                    width: 468px;
                    margin-left: calc((100% - 468px) / 2);  
                }
                
                .copyright,
                .rights,
                .design {
                    width: 100%;
                }

                .bottom-text > .rights {
                    border: none;
                }

            }
    
            @media (max-width: 480px) {
                main {
                        padding-left: 20px;
                        padding-right: 20px;
                        
                }
                .top-part {
                    width: 100%;
                    margin-left: 0px;
                    
                }
                .middle-part {
                    width: 100%;
                    margin-left: 0px;
                    
                }

                .copyright,
                .rights,
                .design {
                    width: 100%;
                }

                .bottom-text > .rights {
                    border: none;
                }
                
            }
    



            




