body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
word-break: break-all;
}

body {
    background-image: url(./skyline.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    display: inline-block;
    width: 1300px;
    margin-left: calc((100% - 1300px) / 2);

}

    header {
        width: 1300px;
        display: inline-block;
        display: inline-block;
        margin-left: calc((100% - 1300px) / 2);
    }

        .top-part {
            display: inline-block;
            width: 440px;
            margin-left: calc((100% - 450px) / 2);
            text-align: center;
            margin-top: 50px;
            padding-bottom: 30px;
        }

                img {
                    width: 30px;
                    margin-bottom: 25px;
                }

                header > .top-part > h1 {
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }

                header > .top-part > p {
                    color: lightgrey;
                    margin-bottom: 5px;
                }

                #timer {
                    margin-top: 30px;
                    margin-bottom: 40px;
                }

                #timer>* {
                    display: block;
                    list-style: none;
                    width: 70%;
                    margin-left: 15%;

                }

                    .timer-numbers {
                        display: inline-block;
                        color: white;
                        font-size: 40px;
                        border: 1px solid black;


                    }

                    .timer-words {
                        display: inline-block;
                        color: white;
                        text-transform: uppercase;
                        font-size: 10px;
                        border: 1px solid black;

                    }

                    li {
                        display: inline-block;
                        margin: 10px;
                        margin-top: 0px;
                    }

                    .timer-words > li {
                        margin-left: 25px;
                    }


                    #type-email>* {
                        width: 70%;
                        height: 30px;
                        border: none;
                        border-bottom: 1px solid white;
                        margin-bottom: 30px;
                        font-size: 10px;
                        background: none;
                    }

                    ::placeholder {
                        color: white;
                    }

                    #button>* {
                        text-transform: capitalize;
                        margin-bottom: 25px;
                        background-color: orangered;
                        padding: 8px;
                        padding-left: 25px;
                        padding-right: 25px;
                        font-size: 10px;
                        color: white;
                        text-decoration: none;
                        border-radius: 2px;
                    }


    main {
        background-color: lightyellow;
        display: inline-block;
        width: 1300px;
        margin-left: calc((100% - 1300px) / 2);
        margin-top: 50px;
    }

    footer {
        background-color: lightgreen;
        display: inline-block;
        width: 1300px;
        margin-left: calc((100% - 1300px) / 2);
    }




