body,
body * {
margin: 0;
padding: 0;
vertical-align: top;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
word-break: break-all;
}

body {
    background-image: url(./skyline.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    display: inline-block;
    width: 100%;

}

    header {
        width: 100%;
        display: inline-block;
    }

        .top-part {
            display: inline-block;
            width: 440px;
            margin-left: calc((100% - 450px) / 2);
            text-align: center;
            margin-top: 50px;
            padding-bottom: 30px;
        }

                img {
                    width: 30px;
                    margin-bottom: 25px;
                }

                header > .top-part > h1 {
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }

                header > .top-part > p {
                    color: lightgrey;
                    margin-bottom: 5px;    
                
                }

                    p {
                    word-break: normal;

                    }
                

                #timer {
                    margin-top: 30px;
                    margin-bottom: 40px;
                }

                #timer>* {
                    display: block;
                    list-style: none;
                    width: 70%;
                    margin-left: 15%;

                }

                    .timer-numbers {
                        display: inline-block;
                        color: white;
                        font-size: 40px;


                    }

                    .timer-words {
                        display: inline-block;
                        color: white;
                        text-transform: uppercase;
                        font-size: 10px;

                    }

                    li {
                        display: inline-block;
                        margin: 0 10px;
                    }

                    .timer-words > li {
                        margin-left: 25px;
                    }


                    #type-email>* {
                        width: 70%;
                        height: 30px;
                        border: none;
                        border-bottom: 1px solid white;
                        margin-bottom: 40px;
                        font-size: 10px;
                        background: none;
                    }

                    ::placeholder {
                        color: white;
                    }

                    .button {
                        text-transform: capitalize;
                        margin-bottom: 25px;
                        background-color: orangered;
                        padding: 8px;
                        padding-left: 25px;
                        padding-right: 25px;
                        font-size: 10px;
                        color: white;
                        text-decoration: none;
                        border-radius: 2px;
                    }


    main {
        background-color: white;
        display: inline-block;
        width: 100%;
    }

        .middle-part {
            display: inline-block;
            float: left;
            width: 700px;
            margin-left: calc((100% - 700px) / 2);
            text-align: center;
            padding-top: 50px;
            padding-bottom: 40px;
         }

            .box-left {
                width: 47%;
                display: inline-block;
                float: left;
                text-align: left;
                line-height: 110%;

            }

                    .box-left > * {
                        padding-bottom: 10px;
                    }

                    h4 {
                        text-transform: uppercase;
                    }

                    h6 {
                        font-weight: normal;
                        font-size: 10px;
                        color: grey;
                    }

                    .box-left > p {
                        font-size: 10px;
                        color: grey;
                    }

                    #Matrox {
                        color: orangered;
                        text-decoration: none; 
                    }

                    span {
                        float: right;
                    }


            .box-right {
                width: 40%;
                display: inline-block;
                float: right;
                text-align: left;
                line-height: 110%;

            }

                    .box-right > * {
                        padding-bottom: 10px;
                    }

                    .box-right > p {
                        font-size: 10px;
                        color: grey;
                        word-break: normal;
                    }

                    #trendy {
                        color: orangered;
                        text-decoration: none; 
                        word-break: normal;

                    }

                    input {
                        width: 48%;
                        box-sizing: border-box;
                        padding-bottom: 5px;
                        margin-bottom: 20px;
                        margin-top: 10px;
                        color: black;
                        border: none;
                        border-bottom: 1px solid lightgrey; 
                    }

                        ::placeholder {
                            color: grey;
                            font-size: 10px;;
                        }

                        #name {
                            float: left;
                        }

                        #email {
                            float: right;
                        }


                    textarea {
                      width: 100%;
                      margin-bottom: 20px;
                      border: none;
                      border-bottom: 1px solid lightgrey;
                      resize: none;
                    }

                    form > .button {
                        float: right;
                        margin-top: 10px;
                        padding: 5px;
                        padding-left: 15px;
                        padding-right: 15px;
                    }

                

    footer {
        background-color: lightgreen;
        display: inline-block;
        width: 1300px;
        margin-left: calc((100% - 1300px) / 2);
    }



